.env
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
*.egg-info/
*.DS_Store
*Zone.Identifier
.venv/
venv/

app/storage/papers/*
app/storage/notes/*
app/storage/vector_db/*
app/storage/metadata/*
app/storage/analytics/*

!app/storage/papers/.gitkeep
!app/storage/notes/.gitkeep
!app/storage/vector_db/.gitkeep
!app/storage/metadata/.gitkeep
!app/storage/analytics/.gitkeep
